# Session 1: Assignment 1

# Task1

Q1. Install Jupyter Notebook and run the first program and share the screen shot of the output.

In [73]:
name = input("What's your name: ")
print("Hi "+name+ "!! Welcome to iNeuron ML Masters")

What's your name: Hari
Hi Hari!! Welcome to iNeuron ML Masters

Q2. Write a program which will find all such numbers which are divisible 7 but are not multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [72]:
num = range(2000, 3201)
for i in num:
    if (i%7) == 0 and (i%5) != 0:
        print(i, end =',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q3. Write a Python program to accept user's first and last name and then getting them printed in the reverse order with a space between first name and last name

In [39]:
fName = input("Please enter First Name: ")
lName = input("Please enter Last Name: ")
print(lName+" "+ fName)

Please enter First Name: Hari
Please enter Last Name: Divi
Divi Hari

In [40]:
fName = input("Please enter First Name: ")
lName = input("Please enter Last Name: ")
print(lName+" "+ fName)

Please enter First Name: Hari Babu
Please enter Last Name: Divi
Divi Hari Babu

Q4. Write a Python Program to find the volume of a spehere with diameter 12cm.
formula: V = 4/3 * Pie * r3

In [46]:
d = 12
r = d/2
v = (4/3)*(22/7)*(r*r*r)
print("Diameter is:"+str(d))
print("Radius is:"+str(r))
print("Volume of Spehere is: "+str(v))

Diameter is:12
Radius is:6.0
Volume of Spehere is: 905.142857142857

# Task 2

Q1. Write a Program which accepts a sequence of comma separated numbers from console and generate a list

In [91]:
num = input("Please enter comma separated numbers..")
print(num)
print(type(num))
l = num.split(",")
print(l)
print(type(l))

Please enter comma separated numbers..21, 47, 67, 87, 102
21, 47, 67, 87, 102
<class 'str'>
['21', ' 47', ' 67', ' 87', ' 102']
<class 'list'>

Q2. Create below pattern using nested for loop in Python

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [183]:
num_range = 5
for i in range(1, num_range):
    for j in range(i):
        print('*', end = " ")
    print(" ")
for i in range(num_range, 0, -1):
    for j in range(i):
        print('*', end = " ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q3. Write a Python program to print the given string in the format specified in the sample output.

In [194]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOGRAPHIC REPUBLIC\n\t\t and to secure to all citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOGRAPHIC REPUBLIC
		 and to secure to all citizens